 {% extends 'index.html' %} 
 {%load static %}

    {% block title %}
      {{ setting.title }}
    {% endblock  %}
    {% block description %}
      {{ setting.description }}
    {% endblock  %}

    {% block header %}
        {% include 'header.html' %}
    {% endblock  %}
    {% block sidebar %}
        {% include 'sidebar.html' %}
    {% endblock  %}
    {% block slider %}
         {% include 'slider.html' %}
    {% endblock  %}

{% comment %} main body here {% endcomment %}
    {%block mainbody%}
          {% include 'maincontent.html' %}
    {%endblock%}
    <!-- Begin Footer Area -->
    {% block footer %}
         {% include 'footer.html' %}
    {% endblock  %}

          
