{% load static %}

  <!-- Begin Slider With Banner Area -->
  <div class="slider-with-banner">
    <div class="container">
        <div class="row">
            <!-- Begin Slider Area -->
            <div class="col-lg-8 col-md-8">
                <div class="slider-area">
                    <div class="slider-active owl-carousel">
                        <!-- Begin Single Slide Area -->
                        {% for slider in slider_images %}
                        <div class="single-slide align-center-left  animation-style-0{{slider.id}} bg-{{slider.id}}">
                            <img src="{{slider.ImageUrl}}" alt="">
                            <div class="slider-progress"></div>
                            <div class="slider-content">
                                <h5>Sale Offer <span>-20% Off</span> This Week</h5>
                                <h2>{{ slider.title }}</h2>
                                <h3>Starting at <span>${{ slider.new_price }}</span></h3>
                                <div class="default-btn slide-btn">
                                    <a class="links" href="shop-left-sidebar.html">Shopping Now</a>
                                </div>
                            </div>
                        </div>
                         {% endfor %} 
                        <!-- Single Slide Area End Here -->
                        
                        
                    </div>
                </div>
            </div>
            <!-- Slider Area End Here -->
            <!-- Begin Li Banner Area -->
            {% comment %} <div class="col-lg-4 col-md-4 text-center pt-xs-30">
                <div class="li-banner">
                    <a href="#">
                        <img src="{%static ''%}images/banner/1_1.jpg" alt="">
                    </a>
                </div>
                <div class="li-banner mt-15 mt-sm-30 mt-xs-30">
                    <a href="#">
                        <img src="{%static ''%}images/banner/1_2.jpg" alt="">
                    </a>
                </div>
            </div> {% endcomment %}

            <div class="col-lg-4 col-md-4 text-center pt-xs-30">
                {% for p in slider_images %}
                
                {% if p.id < 3 %}
                <div class="li-banner">
                    <a href="#">
                        <img src="{{p.ImageUrl}}" alt="">
                    </a>
                </div>
                {% endif %}
               
                {% endfor %}
               
                 
            </div>

            
            <!-- Li Banner Area End Here -->
        </div>
    </div>
</div>